# Dependencies
node_modules/

# Native projects
ios/
android/

# Expo
.expo/
.expo-shared/
expo/
dist/
web-build/

# Debug & logs
npm-debug.*
.metro-health-check*

# Build artifacts
*.apk
*.aab
*.ipa
*.orig.*

# Secrets and certificates
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# macOS system files
.DS_Store

# Environment variables
.env
.env.*
